* {
    --verdecoopaf-100: hsl(120, 58%, 84%);
    --verdecoopaf-200: hsl(119, 36%, 60%);
    --verdecoopaf-300: hsl(119, 44%, 52%);
    --verdecoopaf-400: hsl(119, 52%, 44%);
    --verdecoopaf-500: hsl(119, 60%, 36%);
    --verdecoopaf-600: hsl(119, 68%, 28%);
    --verdecoopaf-700: hsl(119, 76%, 20%);

    --verdecoopaf-300-tranparente: hsla(119, 44%, 52%, 0.45);
}

.focus-visible\:shadow-outline-gray:focus-visible {
    box-shadow:0 0 0 3px rgba(213,214,215,.45);
}

.dark\:focus-visible\:shadow-outline-gray:focus-visible {
    box-shadow:0 0 0 3px rgba(213,214,215,.45);
}

.text-verdecoopaf-100{
    color:var(--verdecoopaf-100);
}
/*-----------------------------------*/
.text-verdecoopaf-200{
    color:var(--verdecoopaf-200);
}
/*-----------------------------------*/
.focus\:border-verdecoopaf-300:focus{
    border-color:var(--verdecoopaf-300);
}
.theme-dark .dark\:text-verdecoopaf-300{
    color:var(--verdecoopaf-300);
}
/*-----------------------------------*/
.focus\:border-verdecoopaf-400:focus{
    border-color:var(--verdecoopaf-400);
}
.theme-dark .dark\:text-verdecoopaf-400{
    color:var(--verdecoopaf-400);
}
.theme-dark .dark\:focus-within\:text-verdecoopaf-400:focus-within{
    color:var(--verdecoopaf-400);
}
/*-----------------------------------*/
.focus-within\:text-verdecoopaf-500:focus-within{
    color:var(--verdecoopaf-500);
}
/*-----------------------------------*/
.bg-verdecoopaf-100{
    background-color:var(--verdecoopaf-100);
}
.bg-verdecoopaf-200{
    background-color:var(--verdecoopaf-200);
}
.bg-verdecoopaf-300{
    background-color:var(--verdecoopaf-300);
}
.bg-verdecoopaf-400{
    background-color:var(--verdecoopaf-400);
}
.bg-verdecoopaf-500{
    background-color:var(--verdecoopaf-500);
}
.bg-verdecoopaf-600{
    background-color:var(--verdecoopaf-600);
}
.bg-verdecoopaf-700{
    background-color:var(--verdecoopaf-700);
}
.active\:bg-verdecoopaf-600:active{
    background-color:var(--verdecoopaf-600);
}
.border-verdecoopaf-600{
    border-color:var(--verdecoopaf-600);
}
.text-verdecoopaf-600{
    color:var(--verdecoopaf-600);
}
.focus-within\:text-verdecoopaf-600:focus-within{
    color:var(--verdecoopaf-600);
}
/*-----------------------------------*/
.hover\:bg-verdecoopaf-700:hover{
    background-color:var(--verdecoopaf-700);
}
/*-----------------------------------*/
.focus\:shadow-outline-verdecoopaf:focus{
    box-shadow:0 0 0 3px var(--verdecoopaf-300-tranparente);
}
